.DS_Store
MachineLearning/__pycache__/app.cpython-37.pyc
MachineLearning/__pycache__/model.cpython-37.pyc
MachineLearning/__pycache__/inference.cpython-37.pyc
MachineLearning/__pycache__/app.cpython-39.pyc
node_modules/